/* *{
    border: 1px dotted red;
}  */

.whole_post {
  background-color: white;
  width: 24%;
}

.head {
  display: flex;
}

.section1 {
  padding-top: 20px;
}

.section3 {
  padding-top: 17px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: 0.01%;
  font-size: 35px;
}

.middle {
  display: flex;
  justify-content: center;
}

body {
padding-top: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 12px;
}
