 *{
    border: 1px solid red;
} 

.whole_post{
   /* background-color: blue; */
   width: 40%;
}

.head{
    /* background-color: pink; */
    display: flex;
}


.section3{
    
    margin-left: auto; 
    margin-right: 5%;
}

.middle{
    display: flex;
    justify-content: center;
}

body{
    display: flex;
    justify-content: center;
}