/* *{
    border: 1px solid red;
} */

.whole_post{
   /* background-color: blue; */
   width: 60%;
}

.head{
    /* background-color: pink; */
    display: flex;
    
    
}


.section3{
    
    margin-left: auto; 
    margin-right: 5%;
}


body{
    display: flex;
    justify-content: center;
}