/* *{
  border: 1px solid red;
} */

body{
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
             "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.whole-post{
  background-color: white;
  width: min(92vw, 420px);
}

.head{
  display: flex;
  padding: 0.8rem 0;
}

.left{
  margin-right: auto;
}

.right{
  margin-left: auto;
}

.title{
  font-size: 1rem;
}

.middle img{
  width: 100%;
  display: block;
  height: auto;
}

.tail{
  padding: 1rem;
}

.icons{
  display: flex;
}

.bookmark{
  margin-left: auto;
}

.likes{
  font-size: 80%;
}
