/* *{
  border: 1px solid red;
} */

body{
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
             "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.whole-post{
  background-color: white;
  width: min(92vw, 420px);
}

.head{
  display: flex;
}

.left{
  margin-right: auto;
}

.right{
  margin-left: auto;
}

.title{
  font-size: 1rem;
}
