 /* *{
    border: 1px dotted red;
}  */

.whole_post{
   background-color: white;
   width: 24%;
}

.head{
     display: flex;
}

.section1{
    padding-top: 20px;
}


.section3{
    padding-top: 20px;
    margin-left: auto; 
    margin-right: 5%;
    font-
}

.middle{
    display: flex;
    justify-content: center;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
}

h1 {
  font-size: 12px;
}